*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    min-height: 100vh;
}
header{
    background-color: aliceblue;
    grid-area: 1/1/2/-1;
}
aside{
    background-color: antiquewhite;
}
main{
    background-color: aquamarine;
}