*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
}
body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 1fr;
    min-height: 100vh;
}
header{
    background-color: #656CDE;
    grid-area: 1/2/2/-1;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    padding-right: 4rem;
    padding-left: 4rem;
    color: white;
}
aside{
    background-color: #202237;
    color: white;
    grid-area: 1/1/-1/2;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
aside .svg, header .svg{
    filter: invert(48%) sepia(0%) saturate(2476%) hue-rotate(0deg) brightness(1182%) contrast(119%);
}
main{
    background-color: #fcfcfc;
    grid-area: 2/2/-1/-1;
    display: grid;
    grid-template-columns: 4fr 350px;
    grid-template-rows: 1fr;
}
.svg{
    height: 1.5rem;
}
.search-bar{
    grid-area: 1/1/2/2;
}
.search-bar input{
    width: 70%;
    border: none;
    height: 35px;
    border-radius: 100px;
}
.user-bar{
    grid-area: 1/2/2/3;
    font-weight: bold;
}
.search-bar,.user-bar,.user-profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.user-bar{
    justify-content: flex-end;
}
.user-tools{
    grid-area: 2/1/-1/-1;
}
.user-bar .user-profile-image{
    max-height: 35px;
}
.user-tools .user-profile-image{
    max-height: 50px;
}
.user-profile-image{
    border-radius: 100%;
}
.user-tools{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.welcome-message{
    display: flex;
    gap: 15px;
    align-items: center;
}
.welcome-message .user-name{
    font-weight: bold;
    font-size: 19px;
}
.user-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
.user-buttons button{
    padding: 15px 35px 15px 35px;
    border: none;
    background-color: #ffffff;
    color: #020202;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.user-buttons button:hover{
    background-color: rgb(252, 252, 252);
    cursor: pointer;
}
.logo, .menu-item{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
}
.logo .logo-name{
    font-weight: bold;
}
.menu-item:hover{
    background-color: #2a2c45;
    cursor: pointer;
}
.main-menu, .secondary-menu{
    display: flex;
    flex-direction: column;
}
.secondary-menu, .main-menu{
    padding-top: 3rem;
}
.projects{
    grid-area: 1/1/-1/2;
    padding: 15px;
}
.projects > p{
    padding-bottom: 5px;
    font-weight: bold;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 15px;
}
.project{
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.project > .buttons{
    align-self: flex-end;
}
.announcements > p , .trending > p{
    font-weight: bold;
    padding-bottom: 5px;
}
.announcements-content{
    padding: 15px;
}
.announcements-content ul li{
    padding-bottom: 15px;
    padding-top: 15px;
}
.announcements-content ul li:last-child{
    padding-bottom: 0px;
    border-bottom: none;
}
.side{
    padding: 15px;
}
.announcements{
    padding-bottom: 15px;
}
.trending-image{
    width: 45px;
    border-radius: 100%;
}
.trending-item{
    display: flex;
    gap: 15px;
}
.trending ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.announcements-content ,.trending-content{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}